{
  "openapi": "3.1.0",
  "info": {
    "title": "PlacApi API",
    "version": "1.0.0",
    "description": "API REST para consolidar consultas de información vehicular de Colombia (RUNT, SOAT, tecnomecánica, SIMIT, antecedentes, impuestos, FASECOLDA y pico y placa) y licencias de conducción. PlacApi no es una entidad oficial del Gobierno colombiano.",
    "termsOfService": "https://placapi.com/terminos",
    "contact": {
      "name": "Soporte PlacApi",
      "email": "soporte@placapi.com",
      "url": "https://placapi.com/docs"
    },
    "license": {
      "name": "Términos de PlacApi",
      "url": "https://placapi.com/terminos"
    },
    "x-pricing": {
      "model": "prepaid-credits",
      "pricePerQuery": 349,
      "currency": "COP",
      "note": "Se cobra el número de créditos de cada endpoint (x-credits) solo cuando la consulta devuelve datos: 1 crédito la mayoría, 2 en consulta-full. Repetir la misma consulta (misma placa y documento) dentro de la ventana de caché se responde con fromCache: true y NO vuelve a cobrar; la ventana va de 24h (datos del vehículo) a 30 días según la fuente. Excepción: consulta-full siempre cobra sus 2 créditos."
    }
  },
  "servers": [
    {
      "url": "https://placapi.com/api",
      "description": "Producción"
    }
  ],
  "paths": {
    "/consulta-full": {
      "post": {
        "operationId": "consulta-full",
        "summary": "Consulta full (todo en uno)",
        "description": "Todo el conjunto de fuentes en UNA sola llamada: bundle vehicular completo (RUNT, SOAT, tecnomecánica, antecedentes, multas SIMIT, impuesto, avalúo FASECOLDA y pico y placa) MÁS la licencia de conducción del propietario (por la misma cédula). Con `ciudad` o `lat`/`lng` (geolocaliza la ciudad; manda sobre `ciudad`) el pico y placa se filtra a esa ciudad y agrega `picoYPlaca.ubicacion`; sin ubicación trae todas las ciudades monitoreadas. El tipo de vehículo se detecta solo desde la clase RUNT; el dígito de placa evaluado lo fija cada ciudad y viene en `digitoPlaca` (por defecto primero para moto, último para carro). Cuesta 2 créditos. Costo: 2 créditos por consulta con datos.",
        "x-credits": 2,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "placa",
                  "docType",
                  "docNumber"
                ],
                "properties": {
                  "placa": {
                    "type": "string",
                    "example": "ABC123",
                    "description": "Placa del vehículo. 5 a 7 caracteres alfanuméricos: cubre AAA000, AAA00A y los formatos menos comunes (AAA00, AAAA00). Los guiones y espacios se ignoran."
                  },
                  "docType": {
                    "type": "string",
                    "example": "CC",
                    "description": "Tipo de documento del propietario (CC, CE, NIT, PA, TI, CD, PPT, RC; PAS se normaliza a PA y P.P.T./P.P. a PPT). Con NIT no se consulta licencia: `licencia` viene null.",
                    "enum": [
                      "CC",
                      "CE",
                      "NIT",
                      "PA",
                      "TI",
                      "CD",
                      "PPT",
                      "RC"
                    ]
                  },
                  "docNumber": {
                    "type": "string",
                    "example": "1020304050",
                    "description": "Número de documento del propietario. Alias aceptado: `doc`."
                  },
                  "primerApellido": {
                    "type": "string",
                    "example": "PÉREZ",
                    "description": "Primer apellido del propietario. Solo afecta al bloque `licencia`: la fuente oficial lo exige desde el 6-ago-2026 y sin él ese bloque llega con `code: \"apellido_requerido\"`. El bundle vehicular no lo necesita y se entrega igual. Alias aceptado: `apellido`."
                  },
                  "ciudad": {
                    "type": "string",
                    "example": "Bogotá",
                    "description": "Filtra el pico y placa a esta ciudad (ej. Bogotá)."
                  },
                  "lat": {
                    "type": "number",
                    "example": 4.65,
                    "description": "Latitud; requiere lng. Geolocaliza la ciudad del pico y placa y manda sobre `ciudad`."
                  },
                  "lng": {
                    "type": "number",
                    "example": -74.1,
                    "description": "Longitud; requiere lat."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "placa": "ABC123",
                "docType": "CC",
                "docNumber": "1020304050",
                "primerApellido": "PÉREZ",
                "ciudad": "Bogotá"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "input": {
                    "placa": "ABC123",
                    "docType": "CC",
                    "docNumber": "1020304050"
                  },
                  "mode": "live",
                  "generatedAt": "2026-07-24T15:04:05.000Z",
                  "vehicle": {
                    "source": "vehiculo",
                    "status": "ok",
                    "fetchedAt": "2026-07-24T15:04:05.000Z",
                    "mode": "live",
                    "data": {
                      "placa": "ABC123",
                      "marca": "MAZDA",
                      "linea": "CX-30",
                      "modelo": 2023,
                      "cilindraje": 2000,
                      "combustible": "GASOLINA",
                      "servicio": "Particular",
                      "carroceria": "CAMIONETA",
                      "color": "ROJO",
                      "motor": "MTR0000001",
                      "chasis": "9GAJC6915FB040270",
                      "vin": "9GAJC6915FB040270",
                      "fechaMatricula": "15/03/2023",
                      "organismoTransito": "SECRETARIA DISTRITAL DE MOVILIDAD DE BOGOTA",
                      "estado": "activo",
                      "clase": "CAMIONETA"
                    }
                  },
                  "soat": {
                    "source": "soat",
                    "status": "ok",
                    "fetchedAt": "2026-07-24T15:04:05.000Z",
                    "mode": "live",
                    "data": {
                      "vigente": true,
                      "aseguradora": "SBS SEGUROS",
                      "poliza": "1508006948335000",
                      "fechaExpedicion": "20/09/2025",
                      "fechaVencimiento": "19/09/2026",
                      "diasParaVencer": 69
                    }
                  },
                  "rtm": {
                    "source": "rtm",
                    "status": "ok",
                    "fetchedAt": "2026-07-24T15:04:05.000Z",
                    "mode": "live",
                    "data": {
                      "vigente": true,
                      "exento": false,
                      "fechaPrimeraRevision": null,
                      "cda": "CDA FONTIBON S.A.S",
                      "fechaExpedicion": "22/09/2025",
                      "fechaVencimiento": "22/09/2026",
                      "diasParaVencer": 72,
                      "certificadoNumero": "189733821"
                    }
                  },
                  "antecedentes": {
                    "source": "antecedentes",
                    "status": "ok",
                    "fetchedAt": "2026-07-24T15:04:05.000Z",
                    "mode": "live",
                    "data": {
                      "prendas": [
                        {
                          "acreedor": "RCI COLOMBIA S.A. COMPAÑIA DE FINANCIAMIENTO",
                          "docAcreedor": "900977629",
                          "tipoDocAcreedor": "NIT",
                          "fechaInscripcion": "2021-09-30",
                          "confecamaras": true
                        }
                      ],
                      "embargos": [],
                      "historicoPropietarios": 1
                    }
                  },
                  "simit": {
                    "source": "multas",
                    "status": "ok",
                    "fetchedAt": "2026-07-24T15:04:05.000Z",
                    "mode": "live",
                    "data": {
                      "totalDeuda": 0,
                      "totalMultas": 0,
                      "multas": [],
                      "acuerdosPago": 0
                    }
                  },
                  "impuestos": {
                    "source": "Bogotá D.C.",
                    "status": "info",
                    "fetchedAt": "2026-07-24T15:04:05.000Z",
                    "mode": "live",
                    "data": null,
                    "portalUrl": "https://www.haciendabogota.gov.co/es/sdh/pagos-impuesto-vehiculos",
                    "error": "Tu vehículo está matriculado en Bogotá D.C. Paga tu impuesto en el portal oficial del departamento."
                  },
                  "fasecolda": {
                    "source": "avaluo",
                    "status": "info",
                    "fetchedAt": "2026-07-24T15:04:05.000Z",
                    "mode": "live",
                    "data": {
                      "codigo": "08053096",
                      "marca": "MAZDA",
                      "linea": "CX-30",
                      "modelo": 2023,
                      "valorComercial": 98000000,
                      "rangoMercado": {
                        "min": 92000000,
                        "max": 104000000
                      },
                      "clase": "CAMIONETA"
                    }
                  },
                  "picoYPlaca": {
                    "source": "pico-y-placa",
                    "status": "ok",
                    "fetchedAt": "2026-07-24T15:04:05.000Z",
                    "mode": "live",
                    "ubicacion": {
                      "matched": true,
                      "source": "ciudad",
                      "consulta": {
                        "ciudad": "Bogotá"
                      },
                      "ciudad": "Bogotá",
                      "departamento": "Bogotá D.C."
                    },
                    "data": [
                      {
                        "ciudad": "Bogotá",
                        "departamento": "Bogotá D.C.",
                        "tipoVehiculo": "carro",
                        "digitoPlaca": "ultimo",
                        "tienePicoYPlaca": true,
                        "esquema": "parImpar",
                        "hoyAplica": false,
                        "manianaAplica": true,
                        "digitosHoy": [
                          1,
                          2,
                          3,
                          4,
                          5
                        ],
                        "digitosManiana": [
                          6,
                          7,
                          8,
                          9,
                          0
                        ],
                        "diasSemana": [],
                        "horarios": "L–V, 6:00–21:00",
                        "vigencia": "Vigente en julio de 2026",
                        "fuente": "https://www.movilidadbogota.gov.co/pico-y-placa"
                      }
                    ]
                  },
                  "licencia": {
                    "data": {
                      "documentType": "CC",
                      "documentNumber": "1020304050",
                      "fullName": "J**N P***Z",
                      "driverStatus": "ACTIVO",
                      "citizenStatus": "ACTIVA",
                      "totalLicenses": "1",
                      "licenses": [
                        {
                          "category": "B1",
                          "status": "ACTIVA",
                          "licenceNumber": "1020304050",
                          "otExpide": "INSTITUTO DE MOVILIDAD",
                          "expeditionDate": "23/04/2025",
                          "dueDate": "23/04/2035",
                          "restrictions": null
                        }
                      ],
                      "infractions": {
                        "tieneMultas": "NO",
                        "nroPazYSalvo": "885466652067"
                      }
                    },
                    "mode": "live",
                    "fetchedAt": "2026-07-24T15:04:05.000Z"
                  },
                  "cost": 2
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/consulta": {
      "post": {
        "operationId": "consulta",
        "summary": "Consulta vehicular (RUNT)",
        "description": "Ficha completa del RUNT por placa: informacionGeneral (≈40 campos del vehículo), datosTecnicos, histórico completo de SOAT y de tecnomecánica (todas las vigencias, no solo la última), pólizas de responsabilidad civil, tarjeta de operación, blindaje, solicitudes, garantías mobiliarias, limitaciones a la propiedad y normalización. Es la respuesta más extensa de la API: si solo necesitas marca/línea/modelo usa Vehículo básico. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "placa",
                  "docType",
                  "docNumber"
                ],
                "properties": {
                  "placa": {
                    "type": "string",
                    "example": "ABC123",
                    "description": "Placa del vehículo. 5 a 7 caracteres alfanuméricos: cubre AAA000, AAA00A y los formatos menos comunes (AAA00, AAAA00). Los guiones y espacios se ignoran."
                  },
                  "docType": {
                    "type": "string",
                    "example": "CC",
                    "description": "Tipo de documento del propietario (CC, CE, NIT, PA, TI, CD, PPT, RC). Se aceptan alias comunes: PAS y PASAPORTE se normalizan a PA, y P.P.T. y P.P. —como lo abrevia la tarjeta de propiedad— se normalizan a PPT.",
                    "enum": [
                      "CC",
                      "CE",
                      "NIT",
                      "PA",
                      "TI",
                      "CD",
                      "PPT",
                      "RC"
                    ]
                  },
                  "docNumber": {
                    "type": "string",
                    "example": "1020304050",
                    "description": "Número de documento del propietario. Alias aceptado: `doc`."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  },
                  "format": {
                    "type": "string",
                    "example": "complete",
                    "description": "`complete` (default) incluye `data.plate`; `vehicle-by-plate` lo omite para dejar el shape RUNT puro."
                  }
                }
              },
              "example": {
                "placa": "ABC123",
                "docType": "CC",
                "docNumber": "1020304050"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "documentNumber": "1020304050",
                    "plate": "ABC123",
                    "vin": "9GAJC6915FB040270",
                    "informacionGeneral": {
                      "capacidadCarga": null,
                      "cilindraje": "2000",
                      "claseVehiculo": "CAMIONETA",
                      "clasificacion": "VEHICULO PARTICULAR",
                      "color": "ROJO",
                      "diasMatriculado": "1227",
                      "esRegrabadoChasis": "NO",
                      "esRegrabadoMotor": "NO",
                      "esRegrabadoSerie": "NO",
                      "esRegrabadoVin": "NO",
                      "estadoDelVehiculo": "ACTIVO",
                      "fechaExpedLTImportacion": "",
                      "fechaMatricula": "15/03/2023",
                      "fechaVenciLTImportacion": "",
                      "idTipoServicio": "1",
                      "linea": "CX-30",
                      "marca": "MAZDA",
                      "modelo": "2023",
                      "mostrarSolicitudes": "NO",
                      "noChasis": "9GAJC6915FB040270",
                      "noEjes": "2",
                      "noIdentificacion": null,
                      "noLicenciaTransito": "12345678",
                      "noMotor": "MTR0000001",
                      "noPlaca": "ABC123",
                      "noSerie": "9GAJC6915FB040270",
                      "noVin": "9GAJC6915FB040270",
                      "nombrePais": null,
                      "organismoTransito": "SECRETARIA DISTRITAL DE MOVILIDAD DE BOGOTA",
                      "pasajerosSentados": "5",
                      "pasajerosTotal": null,
                      "pesoBruto": "1650",
                      "prendas": "NO",
                      "puertas": "5",
                      "repotenciado": "NO",
                      "seguridadEstado": "NO",
                      "subpartida": null,
                      "tarjetaServicio": "NO",
                      "tieneGravamenes": "NO",
                      "tieneLTImportacion": false,
                      "tipoCarroceria": "WAGON",
                      "tipoCombustible": "GASOLINA",
                      "tipoMaquinaria": null,
                      "tipoServicio": "Particular",
                      "validacionDIAN": "Exitoso",
                      "vehiculoEnsenanza": "NO",
                      "verValidaDIAN": true
                    },
                    "datosTecnicos": {
                      "capacidadCarga": null,
                      "pesoBrutoVehicular": null,
                      "noEjes": null,
                      "noLlantas": null,
                      "alto": null,
                      "ancho": null,
                      "largo": null,
                      "pasajerosTotal": null,
                      "pasajerosSentados": null,
                      "rodaje": null,
                      "peso": null
                    },
                    "soat": [
                      {
                        "entidadExpideSoat": "SBS SEGUROS",
                        "estado": "VIGENTE",
                        "estadoSoat": "VIGENTE",
                        "fechaExpediSoat": "20/09/2025",
                        "fechaExpedicion": "20/09/2025",
                        "fechaVencimiento": "19/09/2026",
                        "fechaVigencia": "20/09/2025",
                        "noPoliza": "1508006948335000",
                        "nombrePais": null,
                        "origen": "EXPEDICION",
                        "placa": "ABC123",
                        "tipoTarifa": "TARIFA PLENA"
                      }
                    ],
                    "tecnoMecanica": [
                      {
                        "cdaExpide": "CDA FONTIBON S.A.S",
                        "estado": "APROBADA",
                        "fechaExpedicion": "22/09/2025",
                        "fechaVencimiento": "22/09/2026",
                        "informacionConsistente": "SI",
                        "nroCertificado": "189733821",
                        "numeroPlaca": "ABC123",
                        "tipoRevision": "REVISION PERIODICA",
                        "url": "d4ef5ac5-6c14-4185-b382-98a204ac6fa7",
                        "vigente": "SI"
                      }
                    ],
                    "polizasResponsabilidadCivil": [],
                    "tarjetaOperacion": null,
                    "informacionBlindaje": {
                      "autorizacion": null,
                      "blindado": null,
                      "fechaBlindaje": null,
                      "fechaDesblindaje": null,
                      "fechaExpedicionCertificado": null,
                      "fechaExpedicionCertificadoFormatoWS": null,
                      "idDocumentoCertificadoBlindaje": null,
                      "nivelBlindaje": null,
                      "nivelBlindajeNumero": null,
                      "numeroResolucion": null,
                      "tipoBlindajeNombre": null
                    },
                    "solicitudes": [],
                    "garantiasMobiliarias": [],
                    "garantiasFavorDe": [],
                    "limitacionPropiedad": [],
                    "normalizacionSaneamiento": []
                  },
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/consulta-por-vin": {
      "post": {
        "operationId": "consulta-por-vin",
        "summary": "Consulta vehicular por VIN",
        "description": "La MISMA ficha del RUNT que `/api/consulta` —informacionGeneral, datosTecnicos, histórico completo de SOAT y tecnomecánica, pólizas, solicitudes, garantías, limitaciones y normalización— pero entrando por VIN en vez de placa, y **sin documento del propietario**. Úsalo cuando tengas el VIN (o el número de chasis) pero no la cédula del dueño: la consulta por placa exige que el documento sea el del propietario ACTIVO y falla si no coincide. La respuesta trae la placa en `data.plate`, así que también sirve de puente VIN → placa. Único campo que cambia frente a `/api/consulta`: `data.documentNumber` viene vacío, porque no se pidió. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "vin"
                ],
                "properties": {
                  "vin": {
                    "type": "string",
                    "example": "9GAJC6915FB040270",
                    "description": "VIN del vehículo (11–17 caracteres, sin I, O ni Q). Alias aceptado: `chasis` — en la mayoría de vehículos el RUNT registra el mismo valor en VIN y número de chasis."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "vin": "9GAJC6915FB040270"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "documentNumber": "",
                    "plate": "ABC123",
                    "vin": "9GAJC6915FB040270",
                    "informacionGeneral": {
                      "capacidadCarga": null,
                      "cilindraje": "2000",
                      "claseVehiculo": "CAMIONETA",
                      "clasificacion": "VEHICULO PARTICULAR",
                      "color": "ROJO",
                      "diasMatriculado": "1227",
                      "esRegrabadoChasis": "NO",
                      "esRegrabadoMotor": "NO",
                      "esRegrabadoSerie": "NO",
                      "esRegrabadoVin": "NO",
                      "estadoDelVehiculo": "ACTIVO",
                      "fechaExpedLTImportacion": "",
                      "fechaMatricula": "15/03/2023",
                      "fechaVenciLTImportacion": "",
                      "idTipoServicio": "1",
                      "linea": "CX-30",
                      "marca": "MAZDA",
                      "modelo": "2023",
                      "mostrarSolicitudes": "NO",
                      "noChasis": "9GAJC6915FB040270",
                      "noEjes": "2",
                      "noIdentificacion": null,
                      "noLicenciaTransito": "12345678",
                      "noMotor": "MTR0000001",
                      "noPlaca": "ABC123",
                      "noSerie": "9GAJC6915FB040270",
                      "noVin": "9GAJC6915FB040270",
                      "nombrePais": null,
                      "organismoTransito": "SECRETARIA DISTRITAL DE MOVILIDAD DE BOGOTA",
                      "pasajerosSentados": "5",
                      "pasajerosTotal": null,
                      "pesoBruto": "1650",
                      "prendas": "NO",
                      "puertas": "5",
                      "repotenciado": "NO",
                      "seguridadEstado": "NO",
                      "subpartida": null,
                      "tarjetaServicio": "NO",
                      "tieneGravamenes": "NO",
                      "tieneLTImportacion": false,
                      "tipoCarroceria": "WAGON",
                      "tipoCombustible": "GASOLINA",
                      "tipoMaquinaria": null,
                      "tipoServicio": "Particular",
                      "validacionDIAN": "Exitoso",
                      "vehiculoEnsenanza": "NO",
                      "verValidaDIAN": true
                    },
                    "datosTecnicos": {
                      "capacidadCarga": null,
                      "pesoBrutoVehicular": null,
                      "noEjes": null,
                      "noLlantas": null,
                      "alto": null,
                      "ancho": null,
                      "largo": null,
                      "pasajerosTotal": null,
                      "pasajerosSentados": null,
                      "rodaje": null,
                      "peso": null
                    },
                    "soat": [
                      {
                        "entidadExpideSoat": "SBS SEGUROS",
                        "estado": "VIGENTE",
                        "estadoSoat": "VIGENTE",
                        "fechaExpediSoat": "20/09/2025",
                        "fechaExpedicion": "20/09/2025",
                        "fechaVencimiento": "19/09/2026",
                        "fechaVigencia": "20/09/2025",
                        "noPoliza": "1508006948335000",
                        "nombrePais": null,
                        "origen": "EXPEDICION",
                        "placa": "ABC123",
                        "tipoTarifa": "TARIFA PLENA"
                      }
                    ],
                    "tecnoMecanica": [
                      {
                        "cdaExpide": "CDA FONTIBON S.A.S",
                        "estado": "APROBADA",
                        "fechaExpedicion": "22/09/2025",
                        "fechaVencimiento": "22/09/2026",
                        "informacionConsistente": "SI",
                        "nroCertificado": "189733821",
                        "numeroPlaca": "ABC123",
                        "tipoRevision": "REVISION PERIODICA",
                        "url": "d4ef5ac5-6c14-4185-b382-98a204ac6fa7",
                        "vigente": "SI"
                      }
                    ],
                    "polizasResponsabilidadCivil": [],
                    "tarjetaOperacion": null,
                    "informacionBlindaje": {
                      "autorizacion": null,
                      "blindado": null,
                      "fechaBlindaje": null,
                      "fechaDesblindaje": null,
                      "fechaExpedicionCertificado": null,
                      "fechaExpedicionCertificadoFormatoWS": null,
                      "idDocumentoCertificadoBlindaje": null,
                      "nivelBlindaje": null,
                      "nivelBlindajeNumero": null,
                      "numeroResolucion": null,
                      "tipoBlindajeNombre": null
                    },
                    "solicitudes": [],
                    "garantiasMobiliarias": [],
                    "garantiasFavorDe": [],
                    "limitacionPropiedad": [],
                    "normalizacionSaneamiento": []
                  },
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/apto-traspaso": {
      "post": {
        "operationId": "apto-traspaso",
        "summary": "Apto para traspaso",
        "description": "Semáforo SÍ/NO de si un vehículo está apto para traspaso, derivado del RUNT: sin gravámenes, prendas, limitaciones a la propiedad ni garantías, y con el registro activo. Devuelve el flag y la lista de bloqueos concretos en texto listo para mostrar. `status` es ok si está apto, danger si el bloqueo es un gravamen/prenda/limitación y warn si solo el estado no es ACTIVO. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "placa",
                  "docType",
                  "docNumber"
                ],
                "properties": {
                  "placa": {
                    "type": "string",
                    "example": "ABC123",
                    "description": "Placa del vehículo. 5 a 7 caracteres alfanuméricos: cubre AAA000, AAA00A y los formatos menos comunes (AAA00, AAAA00). Los guiones y espacios se ignoran."
                  },
                  "docType": {
                    "type": "string",
                    "example": "CC",
                    "description": "Tipo de documento del propietario (CC, CE, NIT, PA, TI, CD, PPT, RC). Se aceptan alias comunes: PAS y PASAPORTE se normalizan a PA, y P.P.T. y P.P. —como lo abrevia la tarjeta de propiedad— se normalizan a PPT.",
                    "enum": [
                      "CC",
                      "CE",
                      "NIT",
                      "PA",
                      "TI",
                      "CD",
                      "PPT",
                      "RC"
                    ]
                  },
                  "docNumber": {
                    "type": "string",
                    "example": "1020304050",
                    "description": "Número de documento del propietario. Alias aceptado: `doc`."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "placa": "ABC123",
                "docType": "CC",
                "docNumber": "1020304050"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "source": "vehiculo",
                  "status": "ok",
                  "data": {
                    "placa": "ABC123",
                    "aptoTraspaso": true,
                    "estado": "ACTIVO",
                    "bloqueos": [],
                    "detalle": {
                      "tieneGravamenes": false,
                      "tienePrendas": false,
                      "limitaciones": 0,
                      "garantias": 0,
                      "estadoDelVehiculo": "ACTIVO"
                    }
                  },
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/vehiculo-basico": {
      "post": {
        "operationId": "vehiculo-basico",
        "summary": "Vehículo básico (liviano)",
        "description": "Proyección liviana de la ficha del RUNT por placa: exactamente 12 campos — placa, marca, línea, modelo, cilindraje, color, clase, servicio, combustible, estado, fecha de matrícula y organismo de tránsito. Todos texto (`fechaMatricula` puede venir null). Respuesta mínima para apps que solo necesitan lo esencial; `status` siempre es info porque describe el vehículo sin calificarlo. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "placa",
                  "docType",
                  "docNumber"
                ],
                "properties": {
                  "placa": {
                    "type": "string",
                    "example": "ABC123",
                    "description": "Placa del vehículo. 5 a 7 caracteres alfanuméricos: cubre AAA000, AAA00A y los formatos menos comunes (AAA00, AAAA00). Los guiones y espacios se ignoran."
                  },
                  "docType": {
                    "type": "string",
                    "example": "CC",
                    "description": "Tipo de documento del propietario (CC, CE, NIT, PA, TI, CD, PPT, RC). Se aceptan alias comunes: PAS y PASAPORTE se normalizan a PA, y P.P.T. y P.P. —como lo abrevia la tarjeta de propiedad— se normalizan a PPT.",
                    "enum": [
                      "CC",
                      "CE",
                      "NIT",
                      "PA",
                      "TI",
                      "CD",
                      "PPT",
                      "RC"
                    ]
                  },
                  "docNumber": {
                    "type": "string",
                    "example": "1020304050",
                    "description": "Número de documento del propietario. Alias aceptado: `doc`."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "placa": "ABC123",
                "docType": "CC",
                "docNumber": "1020304050"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "source": "vehiculo",
                  "status": "info",
                  "data": {
                    "placa": "ABC123",
                    "marca": "MAZDA",
                    "linea": "CX-30",
                    "modelo": "2023",
                    "cilindraje": "2000",
                    "color": "ROJO",
                    "clase": "CAMIONETA",
                    "servicio": "Particular",
                    "combustible": "GASOLINA",
                    "estado": "ACTIVO",
                    "fechaMatricula": "15/03/2023",
                    "organismoTransito": "SECRETARIA DISTRITAL DE MOVILIDAD DE BOGOTA"
                  },
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/multas": {
      "post": {
        "operationId": "multas",
        "summary": "Multas SIMIT",
        "description": "Comparendos y deuda del SIMIT consolidados por placa + documento: total adeudado en pesos, número de multas, el detalle de cada una (fecha, organismo, infracción, código, estado pendiente/acuerdo/pagada y valor) y cuántos acuerdos de pago hay. `status`: ok sin multas, warn con multas y danger si la deuda pasa de $1.000.000. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "placa",
                  "docType",
                  "docNumber"
                ],
                "properties": {
                  "placa": {
                    "type": "string",
                    "example": "ABC123",
                    "description": "Placa del vehículo. 5 a 7 caracteres alfanuméricos: cubre AAA000, AAA00A y los formatos menos comunes (AAA00, AAAA00). Los guiones y espacios se ignoran."
                  },
                  "docType": {
                    "type": "string",
                    "example": "CC",
                    "description": "Tipo de documento del propietario (CC, CE, NIT, PA, TI, CD, PPT, RC). Se aceptan alias comunes: PAS y PASAPORTE se normalizan a PA, y P.P.T. y P.P. —como lo abrevia la tarjeta de propiedad— se normalizan a PPT.",
                    "enum": [
                      "CC",
                      "CE",
                      "NIT",
                      "PA",
                      "TI",
                      "CD",
                      "PPT",
                      "RC"
                    ]
                  },
                  "docNumber": {
                    "type": "string",
                    "example": "1020304050",
                    "description": "Número de documento del propietario. Alias aceptado: `doc`."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "placa": "ABC123",
                "docType": "CC",
                "docNumber": "1020304050"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "source": "multas",
                  "status": "warn",
                  "data": {
                    "totalDeuda": 522700,
                    "totalMultas": 1,
                    "multas": [
                      {
                        "comparendoId": "11001000000012345678",
                        "fecha": "2025-03-15",
                        "organismo": "SECRETARÍA DISTRITAL DE MOVILIDAD DE BOGOTÁ",
                        "infraccion": "No respetar pico y placa",
                        "codigo": "C14",
                        "estado": "pendiente",
                        "valor": 522700
                      }
                    ],
                    "acuerdosPago": 0
                  },
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/comparendos": {
      "post": {
        "operationId": "comparendos",
        "summary": "Comparendos por cédula",
        "description": "Comparendos de una persona por cédula (fuente SIMIT): lista tipada con fecha, organismo, infracción, código, estado, valor y departamento de cada comparendo, más el total adeudado. A diferencia de Multas SIMIT (que consolida por placa), este devuelve los comparendos de la persona. `status`: ok sin comparendos, warn con comparendos y danger si la deuda pasa de $1.000.000. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "docType",
                  "docNumber"
                ],
                "properties": {
                  "docType": {
                    "type": "string",
                    "example": "CC",
                    "description": "Tipo de documento (CC, CE, NIT, PA, TI, CD, PPT, RC). Se aceptan alias comunes: PAS y PASAPORTE se normalizan a PA, y P.P.T. y P.P. se normalizan a PPT.",
                    "enum": [
                      "CC",
                      "CE",
                      "NIT",
                      "PA",
                      "TI",
                      "CD",
                      "PPT",
                      "RC"
                    ]
                  },
                  "docNumber": {
                    "type": "string",
                    "example": "1020304050",
                    "description": "Número de documento. Alias aceptado: `doc`."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "docType": "CC",
                "docNumber": "1020304050"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "source": "multas",
                  "status": "warn",
                  "data": {
                    "documentNumber": "1020304050",
                    "totalComparendos": 1,
                    "totalDeuda": 522700,
                    "comparendos": [
                      {
                        "comparendoId": "11001000000012345678",
                        "fecha": "2025-03-15",
                        "organismo": "SECRETARÍA DISTRITAL DE MOVILIDAD DE BOGOTÁ",
                        "infraccion": "No respetar pico y placa",
                        "codigo": "C14",
                        "estado": "pendiente",
                        "valor": 522700,
                        "departamento": "BOGOTÁ D.C."
                      }
                    ]
                  },
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/comparendo": {
      "post": {
        "operationId": "comparendo",
        "summary": "Detalle de comparendo",
        "description": "Detalle de un comparendo puntual: se busca por su número dentro de los comparendos de la persona (cédula) y se devuelve el item completo (fecha, organismo, infracción, código, estado, valor, departamento) o `encontrado: false` con `comparendo: null` si no figura. Ese caso también cobra: la consulta al SIMIT se hizo y la respuesta —que no aparece— es información. `status`: info si no se encontró, ok si está pagada, warn si no. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "docType",
                  "docNumber",
                  "numeroComparendo"
                ],
                "properties": {
                  "docType": {
                    "type": "string",
                    "example": "CC",
                    "description": "Tipo de documento (CC, CE, NIT, PA, TI, CD, PPT, RC). Se aceptan alias comunes: PAS y PASAPORTE se normalizan a PA, y P.P.T. y P.P. se normalizan a PPT.",
                    "enum": [
                      "CC",
                      "CE",
                      "NIT",
                      "PA",
                      "TI",
                      "CD",
                      "PPT",
                      "RC"
                    ]
                  },
                  "docNumber": {
                    "type": "string",
                    "example": "1020304050",
                    "description": "Número de documento. Alias aceptado: `doc`."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  },
                  "numeroComparendo": {
                    "type": "string",
                    "example": "11001000000012345678",
                    "description": "Número del comparendo a buscar dentro de los de la persona. Alias aceptado: `comparendo`."
                  }
                }
              },
              "example": {
                "docType": "CC",
                "docNumber": "1020304050",
                "numeroComparendo": "11001000000012345678"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "source": "multas",
                  "status": "warn",
                  "data": {
                    "documentNumber": "1020304050",
                    "numeroComparendo": "11001000000012345678",
                    "encontrado": true,
                    "comparendo": {
                      "comparendoId": "11001000000012345678",
                      "fecha": "2025-03-15",
                      "organismo": "SECRETARÍA DISTRITAL DE MOVILIDAD DE BOGOTÁ",
                      "infraccion": "No respetar pico y placa",
                      "codigo": "C14",
                      "estado": "pendiente",
                      "valor": 522700,
                      "departamento": "BOGOTÁ D.C."
                    }
                  },
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/acuerdos-pago": {
      "post": {
        "operationId": "acuerdos-pago",
        "summary": "Acuerdos de pago",
        "description": "Acuerdos de pago de comparendos de una persona por cédula (fuente SIMIT): resolución, fecha, estado, valor del acuerdo, saldo pendiente, secretaría y departamento de cada uno, más el total pendiente. `status`: ok sin acuerdos, warn con al menos uno. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "docType",
                  "docNumber"
                ],
                "properties": {
                  "docType": {
                    "type": "string",
                    "example": "CC",
                    "description": "Tipo de documento (CC, CE, NIT, PA, TI, CD, PPT, RC). Se aceptan alias comunes: PAS y PASAPORTE se normalizan a PA, y P.P.T. y P.P. se normalizan a PPT.",
                    "enum": [
                      "CC",
                      "CE",
                      "NIT",
                      "PA",
                      "TI",
                      "CD",
                      "PPT",
                      "RC"
                    ]
                  },
                  "docNumber": {
                    "type": "string",
                    "example": "1020304050",
                    "description": "Número de documento. Alias aceptado: `doc`."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "docType": "CC",
                "docNumber": "1020304050"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "source": "multas",
                  "status": "warn",
                  "data": {
                    "documentNumber": "1020304050",
                    "totalAcuerdos": 1,
                    "totalPendiente": 500000,
                    "acuerdos": [
                      {
                        "resolucion": "324",
                        "fechaResolucion": "2018-02-16",
                        "estado": "Acuerdo de pago",
                        "valorAcuerdo": 837716,
                        "pendiente": 500000,
                        "secretaria": "Jamundí",
                        "departamento": "Valle del Cauca"
                      }
                    ]
                  },
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/resoluciones": {
      "post": {
        "operationId": "resoluciones",
        "summary": "Resoluciones de tránsito",
        "description": "Resoluciones sancionatorias asociadas a una persona por cédula (fuente SIMIT): las multas que ya tienen número de resolución, con fecha, organismo, infracción, código, estado, valor y departamento, más el total adeudado. `status`: ok sin resoluciones, warn con al menos una y danger si el total pasa de $1.000.000. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "docType",
                  "docNumber"
                ],
                "properties": {
                  "docType": {
                    "type": "string",
                    "example": "CC",
                    "description": "Tipo de documento (CC, CE, NIT, PA, TI, CD, PPT, RC). Se aceptan alias comunes: PAS y PASAPORTE se normalizan a PA, y P.P.T. y P.P. se normalizan a PPT.",
                    "enum": [
                      "CC",
                      "CE",
                      "NIT",
                      "PA",
                      "TI",
                      "CD",
                      "PPT",
                      "RC"
                    ]
                  },
                  "docNumber": {
                    "type": "string",
                    "example": "1020304050",
                    "description": "Número de documento. Alias aceptado: `doc`."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "docType": "CC",
                "docNumber": "1020304050"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "source": "multas",
                  "status": "warn",
                  "data": {
                    "documentNumber": "1020304050",
                    "totalResoluciones": 1,
                    "totalDeuda": 837716,
                    "resoluciones": [
                      {
                        "comparendoId": "324",
                        "fecha": "2018-02-16",
                        "organismo": "SECRETARÍA DE TRÁNSITO DE JAMUNDÍ",
                        "infraccion": "No pagar comparendo en término",
                        "codigo": "B01",
                        "estado": "acuerdo",
                        "valor": 837716,
                        "departamento": "Valle del Cauca"
                      }
                    ]
                  },
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/suspension-licencia": {
      "post": {
        "operationId": "suspension-licencia",
        "summary": "Suspensión de licencia",
        "description": "Estado de suspensión o cancelación de la licencia de conducción de una persona por cédula (fuente SIMIT): banderas `suspendida`/`cancelada` y, cuando aplica, la vigencia de la medida (fecha desde, fecha hasta y organismo de tránsito); sin medida los tres campos vienen null. `status` es danger si está suspendida o cancelada, ok si no. Crítico para agencias de licencias. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "docType",
                  "docNumber"
                ],
                "properties": {
                  "docType": {
                    "type": "string",
                    "example": "CC",
                    "description": "Tipo de documento (CC, CE, NIT, PA, TI, CD, PPT, RC). Se aceptan alias comunes: PAS y PASAPORTE se normalizan a PA, y P.P.T. y P.P. se normalizan a PPT.",
                    "enum": [
                      "CC",
                      "CE",
                      "NIT",
                      "PA",
                      "TI",
                      "CD",
                      "PPT",
                      "RC"
                    ]
                  },
                  "docNumber": {
                    "type": "string",
                    "example": "1020304050",
                    "description": "Número de documento. Alias aceptado: `doc`."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "docType": "CC",
                "docNumber": "1020304050"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "source": "multas",
                  "status": "ok",
                  "data": {
                    "documentNumber": "1020304050",
                    "suspendida": false,
                    "cancelada": false,
                    "fechaDesde": null,
                    "fechaHasta": null,
                    "organismo": null
                  },
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/paz-salvo": {
      "post": {
        "operationId": "paz-salvo",
        "summary": "Paz y salvo de tránsito",
        "description": "Certificado de paz y salvo de tránsito de una persona por cédula (fuente SIMIT): indica si está a paz y salvo (sin comparendos ni deuda pendiente), el total adeudado y la cantidad de comparendos. `status` es ok a paz y salvo, warn si no. Paso previo típico de un trámite. No sustituye el certificado oficial del organismo de tránsito. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "docType",
                  "docNumber"
                ],
                "properties": {
                  "docType": {
                    "type": "string",
                    "example": "CC",
                    "description": "Tipo de documento (CC, CE, NIT, PA, TI, CD, PPT, RC). Se aceptan alias comunes: PAS y PASAPORTE se normalizan a PA, y P.P.T. y P.P. se normalizan a PPT.",
                    "enum": [
                      "CC",
                      "CE",
                      "NIT",
                      "PA",
                      "TI",
                      "CD",
                      "PPT",
                      "RC"
                    ]
                  },
                  "docNumber": {
                    "type": "string",
                    "example": "1020304050",
                    "description": "Número de documento. Alias aceptado: `doc`."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "docType": "CC",
                "docNumber": "1020304050"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "source": "multas",
                  "status": "ok",
                  "data": {
                    "documentNumber": "1020304050",
                    "pazSalvo": true,
                    "totalDeuda": 0,
                    "totalComparendos": 0
                  },
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/impuestos": {
      "post": {
        "operationId": "impuestos",
        "summary": "Impuesto vehicular",
        "description": "Departamento donde está matriculado el vehículo y enlace al portal oficial de impuestos. El departamento se resuelve desde el organismo de tránsito del RUNT por placa. NO liquida el impuesto: ningún departamento lo expone por API (todos blindan el portal con captcha y cuestionario), así que `data` siempre viene null y el valor está en `portalUrl` + el mensaje de `error`. Gratis: no cobra crédito. Gratis: no cobra crédito.",
        "x-credits": 0,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "placa",
                  "docType",
                  "docNumber"
                ],
                "properties": {
                  "placa": {
                    "type": "string",
                    "example": "ABC123",
                    "description": "Placa del vehículo. 5 a 7 caracteres alfanuméricos: cubre AAA000, AAA00A y los formatos menos comunes (AAA00, AAAA00). Los guiones y espacios se ignoran."
                  },
                  "docType": {
                    "type": "string",
                    "example": "CC",
                    "description": "Tipo de documento del propietario (CC, CE, NIT, PA, TI, CD, PPT, RC). Se aceptan alias comunes: PAS y PASAPORTE se normalizan a PA, y P.P.T. y P.P. —como lo abrevia la tarjeta de propiedad— se normalizan a PPT.",
                    "enum": [
                      "CC",
                      "CE",
                      "NIT",
                      "PA",
                      "TI",
                      "CD",
                      "PPT",
                      "RC"
                    ]
                  },
                  "docNumber": {
                    "type": "string",
                    "example": "1020304050",
                    "description": "Número de documento del propietario. Alias aceptado: `doc`."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "placa": "ABC123",
                "docType": "CC",
                "docNumber": "1020304050"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "source": "Bogotá D.C.",
                  "status": "info",
                  "data": null,
                  "portalUrl": "https://www.haciendabogota.gov.co/es/sdh/pagos-impuesto-vehiculos",
                  "error": "Tu vehículo está matriculado en Bogotá D.C. Paga tu impuesto en el portal oficial del departamento.",
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/avaluo": {
      "post": {
        "operationId": "avaluo",
        "summary": "Avalúo FASECOLDA",
        "description": "Valor comercial FASECOLDA y rango de mercado por placa: código FASECOLDA, marca, línea, modelo (año), valor comercial en pesos, rango min/max y clase. El VIN y el modelo se resuelven primero desde el RUNT, así que la placa basta. `origen` dice cómo se identificó el vehículo: `vin` (exacto) o `catalogo` (marca + año + línea + cilindraje, cuando FASECOLDA no decodifica el chasis — le pasa a los modelos nuevos); con `catalogo`, `aproximado` avisa si quedó más de una versión posible y el rango cubre todas. Valor de referencia del gremio asegurador, no un avalúo pericial. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "placa",
                  "docType",
                  "docNumber"
                ],
                "properties": {
                  "placa": {
                    "type": "string",
                    "example": "ABC123",
                    "description": "Placa del vehículo. 5 a 7 caracteres alfanuméricos: cubre AAA000, AAA00A y los formatos menos comunes (AAA00, AAAA00). Los guiones y espacios se ignoran."
                  },
                  "docType": {
                    "type": "string",
                    "example": "CC",
                    "description": "Tipo de documento del propietario (CC, CE, NIT, PA, TI, CD, PPT, RC). Se aceptan alias comunes: PAS y PASAPORTE se normalizan a PA, y P.P.T. y P.P. —como lo abrevia la tarjeta de propiedad— se normalizan a PPT.",
                    "enum": [
                      "CC",
                      "CE",
                      "NIT",
                      "PA",
                      "TI",
                      "CD",
                      "PPT",
                      "RC"
                    ]
                  },
                  "docNumber": {
                    "type": "string",
                    "example": "1020304050",
                    "description": "Número de documento del propietario. Alias aceptado: `doc`."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "placa": "ABC123",
                "docType": "CC",
                "docNumber": "1020304050"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "source": "avaluo",
                  "status": "info",
                  "data": {
                    "codigo": "08053096",
                    "marca": "MAZDA",
                    "linea": "CX-30",
                    "modelo": 2023,
                    "valorComercial": 98000000,
                    "rangoMercado": {
                      "min": 92000000,
                      "max": 104000000
                    },
                    "clase": "CAMIONETA",
                    "origen": "vin"
                  },
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/avaluo-por-codigo": {
      "post": {
        "operationId": "avaluo-por-codigo",
        "summary": "Avalúo FASECOLDA por código",
        "description": "Valor comercial FASECOLDA directo por código, sin resolver placa→código. Para aseguradoras y peritos que ya tienen el código FASECOLDA. Acepta `codeFasecolda` y opcionalmente `modelo` (año) para desambiguar el valor. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "codeFasecolda"
                ],
                "properties": {
                  "codeFasecolda": {
                    "type": "string",
                    "example": "08053096",
                    "description": "Código FASECOLDA del vehículo (numérico). Alias aceptado: `codigo`."
                  },
                  "modelo": {
                    "type": "number",
                    "example": 2023,
                    "description": "Año del modelo; ajusta el valor comercial al año indicado."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "codeFasecolda": "08053096"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "source": "avaluo",
                  "status": "info",
                  "data": {
                    "codigo": "08053096",
                    "marca": "MAZDA",
                    "linea": "CX-30",
                    "modelo": 2023,
                    "valorComercial": 98000000,
                    "rangoMercado": {
                      "min": 92000000,
                      "max": 104000000
                    },
                    "clase": "CAMIONETA"
                  },
                  "mode": "live",
                  "fetchedAt": "2026-07-24T15:04:05.000Z"
                }
              }
            }
          },
          "400": {
            "description": "Cuerpo inválido: placa o documento con formato incorrecto (code: bad_request)."
          },
          "401": {
            "description": "No autenticado o API key inválida (code: unauthorized)."
          },
          "402": {
            "description": "Sin créditos suficientes (code: no_credits)."
          },
          "404": {
            "description": "La fuente oficial respondió y no hay datos para la consulta. No reintentar: el resultado sería el mismo. code: propietario_no_coincide (el documento no es de un propietario activo del vehículo), vehiculo_no_registrado (el vehículo no tiene información registrada) o consulta_sin_resultado. Cada uno de esos códigos trae 10 consultas sin resultado gratis por mes y cuenta, con cuotas independientes; a partir de la 11 de ese código cobra como una consulta normal. Repetir una que ya salió sin resultado no cobra nunca (se responde de caché con fromCache: true). El body trae charged (si esta consulta cobró) y freeNoResultsLeft (cuántas gratis quedan en el mes para ESE código)."
          },
          "429": {
            "description": "Rate limit excedido: 1000 consultas/minuto por API key (code: rate_limited). Respeta Retry-After."
          },
          "500": {
            "description": "Error interno (code: internal_error)."
          },
          "502": {
            "description": "La fuente oficial no respondió a tiempo (code: source_error). Reintentar más tarde. No se cobra crédito."
          }
        }
      }
    },
    "/catalogo": {
      "post": {
        "operationId": "catalogo",
        "summary": "Catálogo de marcas, modelos y versiones",
        "description": "Marcas, modelos, referencias y versiones de vehículos en Colombia, en cascada para poblar un selector: sin filtros trae las marcas y los años; con `marca`, sus referencias; con `marca` + `modelo` (o + `referencia`), las versiones. Cada versión trae su código —el mismo que acepta `/api/avaluo-por-codigo`—, el valor de mercado (`valorUsado`), el precio 0km (`valorNuevo`, solo en años que aún se venden nuevos) y la ficha técnica: cilindraje, potencia, airbags, puertas y tracción. No pide placa ni documento del propietario. Cada lista viene `null` cuando su filtro ya está decidido; con `listas=todas` vuelven todas. Un filtro que no existe en el catálogo responde 404 y no cobra. Costo: 1 crédito por consulta con datos.",
        "x-credits": 1,
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "categoria": {
                    "type": "string",
                    "example": "automovil",
                    "description": "Tipo de vehículo: `automovil` (default, incluye las SUV de pasajeros), `camioneta` (pickup y camioneta de carga), `moto` (incluye motocarro), `carga` (pesado de carga), `bus` (bus, buseta y microbús) o `remolque`. Los tres pesados comparten catálogo de marcas en la fuente, así que al elegir uno la lista de marcas puede incluir las de los otros dos; las versiones sí salen separadas."
                  },
                  "soloConPrecio": {
                    "type": "boolean",
                    "example": true,
                    "description": "`true` por defecto: solo devuelve las versiones con valor publicado para el año pedido. En `false` aparecen también las que existen sin precio para ese año (Toyota 2024 pasa de 44 a 401 versiones, casi todas en 0)."
                  },
                  "marca": {
                    "type": "string",
                    "example": "Toyota",
                    "description": "Marca por nombre (`Toyota`) o por id del catálogo (`178`). Sin tildes ni mayúsculas importa."
                  },
                  "modelo": {
                    "type": "string",
                    "example": "2024",
                    "description": "Año del modelo (`2024`). En el catálogo vehicular colombiano «modelo» es el año, no la línea."
                  },
                  "referencia": {
                    "type": "string",
                    "example": "Corolla",
                    "description": "Referencia/línea por nombre o id, resuelta dentro de la marca elegida. Admite prefijo: `Corolla` encuentra `COROLLA [12] [FL]`."
                  },
                  "listas": {
                    "type": "string",
                    "example": "todas",
                    "description": "`todas` devuelve `marcas`, `modelos` y `referencias` aunque su filtro ya esté decidido. Útil para repintar los tres selectores de un formulario con una sola llamada; por defecto cada lista se omite cuando ya elegiste ese filtro."
                  },
                  "pagina": {
                    "type": "number",
                    "example": 1,
                    "description": "Página de versiones (default 1)."
                  },
                  "porPagina": {
                    "type": "number",
                    "example": 50,
                    "description": "Versiones por página (default 50, máximo 200)."
                  },
                  "refresh": {
                    "type": "boolean",
                    "example": false,
                    "description": "Ignora la caché y vuelve a consultar la fuente oficial. Ojo: una consulta refrescada con datos siempre cobra (el hit de caché no)."
                  }
                }
              },
              "example": {
                "marca": "Toyota",
                "modelo": "2026"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Consulta ejecutada. Cada fuente reporta su propio status (ok, empty, error).",
            "content": {
              "application/json": {
                "example": {
                  "source": "catalogo",
                  "status": "info",
                  "data": {
                    "filtros": {
                      "categoria": {
                        "nombre": "automovil",
                        "etiqueta": "Automóvil"
                      },
                      "soloConPrecio": true,
                      "marca": {
                        "id": 178,
                        "nombre": "Toyota"
                      },
                      "modelo": {
                        "id": 41009,
                        "nombre": "2026"
                      },
                      "referencia": null
                    },
                    "marcas": null,
                    "modelos": null,
                    "referencias": [
[...]
